{{#partial "content"}}

    <h2>Your Garden {{ garden.gardenName }}</h2>

    {{#if plants}}
        {{#each plants }}
        <div class="col-md-4">
        <div class = "well" id="all-gardenPlants">
            <h4>{{ plantName  }}</h4>
            <img src="{{ image }}" >
        {{#if isPlanted}}
            <h4> Date Planted: {{ datePlanted  }}</h4>
        {{else}}
            <form action="/gardens/{{ gardenPlantId }}" method="post">
                <div class="form-group">
                    <label for="datePlanted">Enter Planting Date</label>
                    <input class="form-control" id="datePlanted" name="datePlanted" type="date" value="{{ datePlanted }}" required>
                </div>
            <button type="submit" class="btn btn-default">Add</button>
            </form>
        {{/if}}

        </div>
        </div>
        {{/each}}
    {{else}}
        <p>No Plants in your Garden</p>
    {{/if}}

    <footer class="footer">
        <div class="container">
        </div>
    </footer>
{{/partial}}

{{> layout.hbs}}