{{#partial "content"}}

    <p>Plant Name: {{plants.plantName}}</p>
    <p>Days to Maturity: {{plants.daysToMaturity}}</p>
    <p>Spacing between Plants: {{plants.plantSpacing}}</p>
    <p>SPacing between Rows: {{plants.rowSpacing}}</p>

    <!--<p><a href="/plants/{{plants.id}}/update"><br>Edit Plant details</a></p>-->

{{/partial}}

{{> layout.hbs}}