{{#partial "content"}}
<div class="well">
    <p>Plant Name: {{plant.plantName}}</p>
    <p>Days to Maturity: {{plant.daysToMaturity}}</p>
    <p>Spacing between Plants: {{plant.plantSpacing}}</p>
    <p>Spacing between Rows: {{plant.rowSpacing}}</p>
    <img src="{{plant.image}}" >
    <p>Planting Guide:</p>

    {{#each events}}
        <ul>
            <li>Type: {{type}}</li>
            <li>Start Date: {{startDate}}</li>
            <li>End Date: {{endDate}}</li>
        </ul>

    {{/each}}

    <ul class="nav nav-pills">
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Add {{ plant.plantName }} to Garden <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{#if gardens}}
                {{#each gardens}}
                    <li><a href="/plants/{{ plant.id }}/gardens/{{ id }}">{{ gardenName }}</a></li>
                {{/each}}
                    <li><a href="/gardens/new">Create a new Garden</a></li>
             {{else}}
                  <li><a href="/gardens/new">Create a new Garden</a></li>
            {{/if}}
        </ul>
    </li>
    </ul>


</div>

{{/partial}}

{{> layout.hbs}}